<%- include('header.ejs', locals) %>

  <%-
  include('download-counts.ejs', {
    day: dlDay,
    week: dlWeek,
    month: dlMonth
  })
  %>

<div class="row">
  <div class="span3">
    <h2>最近更新</h2>
    <ul class="unstyled">
      <%
      var now = Date.now()
      updated.forEach(function (p) {
        var m = now - (new Date(p.value).getTime())
        m = Math.floor(m / (1000 * 60))
        %><li><%= m %>m <a href="<%= p.url %>"><%= p.name %></a></li>
        <%
      })
      %>
      <li><a href="/browse/updated">More...</a></li>
    </ul>
  </div>
  <div class="span3">
    <h2>最多依赖</h2>
    <ul class="unstyled">
      <%
      depended.forEach(function (p) {
        %><li><%= p.value %> <a href="/package/<%= p.name
          %>"><%= p.name %></a></li>
        <%
      })
      %>
      <li><a href="/browse/depended">More...</a></li>
    </ul>
  </div>
  <div class="span3">
    <h2>最多关注</h2>
    <ul class="unstyled">
      <%
      starred.forEach(function (p) {
        %><li><%= p.value %> <a href="/package/<%= p.name
        %>"><%= p.name %></a></li>
        <%
      })
      %>
      <li><a href="/browse/star">More...</a></li>
    </ul>
  </div>
  <div class="span3">
    <h2>高产人士</h2>
    <ul class="unstyled">
      <%
      authors.forEach(function (p) {
        %><li><%= p.value %> <a href="/~<%= p.name
        %>"><%= p.name %></a></li>
        <%
      })
      %>
      <li><a href="/recent-authors">More...</a></li>
    </ul>
  </div>
</div>


<%- include('footer.ejs', locals) %>
