<%- include('header.ejs', locals) %>
<%
if (error) {
  %><p>There was a problem!  The server said: <%= error %></p><%
}
%>

<form method=post class="form-horizontal">
    <fieldset>
        <legend>Change your password</legend>

        <input type=hidden name=password_sha value="<%= profile.password_sha %>">

        <div class="control-group">
            <label for=current class="control-label">Current Password</label>
            <div class="controls"><input id=current name=current type=password></div>
        </div>

        <div class="control-group">
            <label class="control-label" for=new>New Password</label>
            <div class="controls">
                <input id=new name=new type=password>
                <span class="help-block">Please choose something long and memorable</span>
            </div>
        </div>

        <div class="control-group">
            <label for=verify class="control-label">Verify Password</label>
            <div class="controls"><input id=verify name=verify type=password></div>
        </div>

        <div class="control-group">
        	<div class="controls">
                <button class=btn type=submit>Make it so.</button>
            </div>
        </div>

        <%- csrf %>

    </fieldset>
</form>

<%- include('footer.ejs', locals) %>
