<%- include('header.ejs', locals) %>

<div class="row">
  <div class="span12">
    <form method=post action=/profile-edit class="form-horizontal">
      <fielset>
        <legend>Edit your Profile</legend>
      <input type=hidden name=_id value="<%= profile._id %>">
      <input type=hidden name=name value="<%= profile.name %>">
      <% fields.forEach(function (field) {%>
        <div class="control-group">
          <label class="control-label" for="<%= field.name %>"><%= field.title %></label>
          <div class="controls">
            <input id="<%= field.name %>" name="<%= field.name %>"
              value="<%= field.value %>" type="text">
          </div>
        </div>
      <% }) %>

      <div class="control-group">
        <div class="controls">
          <button class=btn type=submit>Save</button>
        </div>
      </div>
      
      <%- csrf %>
      </fieldset>
    </form>
  </div>
</div>

<%- include('footer.ejs', locals) %>
